@use './reset';
@use './themes/dark';
@use './themes/light';
@use './themes/orange';

@use 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// если стили указать тут, а не в .app, то при тестировании компонентов в cypress/support/component стили нарушаются
// body {
// font: var(--font-m);
// color: var(--primary-color);
// background: var(--bg-color);
// }

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
}

.app_redesigned {
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
    background: var(--bg-redesigned);
}

.content-page {
    display: flex;
}

.app *::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
    height: 8px;
}

.app *::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет дорожки */
}

.app *::-webkit-scrollbar-thumb {
    border: 3px solid var(--primary-color); /* padding вокруг плашки */
    border-radius: 20px; /* закругления плашки */
    background-color: var(--inverted-primaty-color); /* цвет плашки */
}

.app_redesigned *::-webkit-scrollbar {
    width: 10px; /* ширина scrollbar */
    height: 8px;
}

.app_redesigned *::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned); /* цвет дорожки */
}

.app_redesigned *::-webkit-scrollbar-thumb {
    border-radius: 20px; /* закругления плашки */
    background-color: var(--icon-redesigned); /* цвет плашки */
}
