/* stylelint-disable max-line-length */
.logoContainer {
    position: relative;
}

.gradientBig {
    width: 300px;
    height: 300px;
    background: radial-gradient(
        57.05% 57.05% at 49.84% 42.95%,
        rgb(var(--gradient-redesigned), 25%) 0%,
        rgb(var(--gradient-redesigned), 20%) 7.81%,
        rgb(var(--gradient-redesigned), 15%) 29.69%,
        rgb(var(--gradient-redesigned), 10%) 56.77%,
        rgb(var(--gradient-redesigned), 2.19%) 77.6%,
        rgb(var(--gradient-redesigned), 0%) 100%
    );
}

.gradientSmall {
    width: 200px;
    height: 200px;
    background: radial-gradient(
        30.29% 30.29% at 50% 50%,
        rgb(var(--gradient-redesigned), 30%) 0%,
        rgb(var(--gradient-redesigned), 20%) 25.55%,
        rgb(var(--gradient-redesigned), 10%) 47.27%,
        rgb(var(--gradient-redesigned), 5%) 69.66%,
        rgb(var(--gradient-redesigned), 0%) 100%
    );
}

.gradientBig,
.gradientSmall {
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
}

.logo {
    z-index: 1;
}
