.card {
    width: 230px;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
}

.date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.types p {
    overflow: hidden;
    width: 115px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.views {
    margin-right: 8px;
    margin-left: auto;
}

.title {
    margin-top: 8px;
}

.title p {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
