.primary {
    color: var(--text-redesigned);
    transition: var(--transition) color;

    &:hover {
        color: var(--accent-redesigned);
    }
}

.inverted {
    color: var(--cancel-redesigned);
    transition: var(--transition) color;

    &:hover {
        opacity: 0.8;
    }
}
