.appLink {
    display: flex;
    transition: var(--transition) color;
}

.primary {
    color: var(--text-redesigned);

    &:hover.hover {
        color: var(--accent-redesigned);

        svg {
            color: var(--accent-redesigned);
        }
    }
}

.inverted {
    color: var(--cancel-redesigned);

    &:hover.hover {
        opacity: 0.8;
    }
}
