.notificationItem {
    width: 100%;
    min-width: var(--notification-width);
    max-height: var(--notification-height);
}

.notificationItemRedesigned {
    border-bottom: 1px solid var(--light-bg-redesigned);

    &.mobile {
        border-radius: 16px;
    }
}
