.logoContainer {
    position: relative;
}

.gradientBig {
    width: 300px;
    height: 300px;
    background: radial-gradient(
        57.05% 57.05% at 49.84% 42.95%,
        color-mix(in srgb, var(--accent-redesigned) 25%, transparent) 0%,
        color-mix(in srgb, var(--accent-redesigned) 20%, transparent) 7.81%,
        color-mix(in srgb, var(--accent-redesigned) 15%, transparent) 29.69%,
        color-mix(in srgb, var(--accent-redesigned) 10%, transparent) 56.77%,
        color-mix(in srgb, var(--accent-redesigned) 2.19%, transparent) 77.6%,
        color-mix(in srgb, var(--accent-redesigned) 0%, transparent) 100%
    );
}

.gradientSmall {
    width: 200px;
    height: 200px;
    background: radial-gradient(
        30.29% 30.29% at 50% 50%,
        color-mix(in srgb, var(--accent-redesigned) 30%, transparent) 0%,
        color-mix(in srgb, var(--accent-redesigned) 20%, transparent) 25.55%,
        color-mix(in srgb, var(--accent-redesigned) 10%, transparent) 47.27%,
        color-mix(in srgb, var(--accent-redesigned) 5%, transparent) 69.66%,
        color-mix(in srgb, var(--accent-redesigned) 0%, transparent) 100%
    );
}

.gradientBig,
.gradientSmall {
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
}

.logo {
    z-index: var(--button-z-index);
}
