.title,
.text {
    overflow: hidden;
    width: 100%;
    line-height: 100%;
    text-overflow: ellipsis;
}

.primary {
    .title,
    .text {
        color: var(--text-redesigned);
    }
}

.error {
    .title,
    .text {
        color: var(--cancel-redesigned);
    }
}

.accent {
    .title,
    .text {
        color: var(--accent-redesigned);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.s {
    .title {
        font: var(--font-m-redesigned);
    }

    .text {
        font: var(--font-s-redesigned);
    }
}

.m {
    .title {
        font: var(--font-l-redesigned);
    }

    .text {
        font: var(--font-m-redesigned);
    }
}

.l {
    .title {
        font: var(--font-xl-redesigned);
    }

    .text {
        font: var(--font-l-redesigned);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}
