.sidebarItem {
    .item {
        display: flex;
        align-items: center;
    }

    .link {
        margin-left: 10px;
        white-space: nowrap;
        opacity: 1;
    }

    .collapsed {
        .link {
            width: 0;
            height: 0;
            margin-left: 0;

            opacity: 0;

            transition: var(--transition) opacity;
        }
    }
}

.sidebarItemRedesigned {
    width: 100%;

    .item {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 0 16px;

        &:hover:not(.active) {
            color: var(--accent-redesigned);

            svg {
                color: var(--accent-redesigned);
            }
        }
    }

    .active {
        border-left: solid 2px var(--accent-redesigned);
        background: linear-gradient(
            90deg,
            color-mix(in srgb, var(--accent-redesigned) 30%, transparent) 1.15%,
            color-mix(in srgb, var(--accent-redesigned) 0%, transparent) 99.97%
        );

        &:hover {
            cursor: default;
            color: inherit;
        }
    }

    .collapsed {
        &.item {
            gap: 0;
            justify-content: center;
            padding: 0;
        }

        .link {
            pointer-events: none;

            // TODO: почему не display:none?
            width: 0;
            height: 0;
            opacity: 0;
        }
    }
}
