.trigger {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.button {
    display: flex;
    align-items: center;
    padding: 0;
}

.label {
    overflow: hidden;
    padding: 8px 8px 8px 16px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.options {
    min-width: 100%;
    background-color: var(--bg-redesigned);
}

.option {
    padding: 8px 16px;
}

.active {
    background: var(--light-bg-redesigned);
}

.selected {
    color: var(--accent-redesigned);
}

.arrow {
    margin-right: 16px;
    color: var(--hint-redesigned) !important;
    transition: var(--transition) transform;

    &.open {
        transform: rotate(180deg);
    }
}
