.icon {
    stroke-width: 0.1px;
}

.primaryFill {
    color: var(--primary-color);
    fill: var(--primary-color);

    &:hover {
        color: var(--inverted-primary-color);
        fill: var(--inverted-primary-color);
    }
}

.secondaryFill {
    color: var(--secondary-color);
    fill: var(--secondary-color);

    &:hover {
        color: var(--primary-color);
        fill: var(--primary-color);
    }
}

.invertedPrimaryFill {
    color: var(--inverted-primary-color);
    fill: var(--inverted-primary-color);

    &:hover {
        color: var(--primary-color);
        fill: var(--primary-color);
    }
}

.invertedSecondaryFill {
    color: var(--inverted-secondary-color);
    fill: var(--inverted-secondary-color);

    &:hover {
        color: var(--inverted-primary-color);
        fill: var(--inverted-primary-color);
    }
}

.primaryStroke {
    color: var(--primary-color);

    &:hover {
        color: var(--primary-color);
    }
}

.secondaryStroke {
    color: var(--secondary-color);

    &:hover {
        color: var(--secondary-color);
    }
}

.invertedPrimaryStroke {
    color: var(--inverted-primary-color);

    &:hover {
        color: var(--inverted-primary-color);
    }
}

.invertedSecondaryStroke {
    color: var(--inverted-secondary-color);

    &:hover {
        color: var(--inverted-primary-color);
    }
}
