.item {
	cursor: pointer;

	width: 100%;
	padding: 10px 25px;

	color: var(--primary-color);

	background: none;
	border: none;
	outline: none;
}

.menu {
	display: flex;
	flex-direction: column;

	background: var(--card-bg);
	border: 1px solid var(--primary-color);
	border-radius: 0 0 8px 8px;
}

.activedTop {
	border-radius: 12px 12px 0 0;
}

.activeBottom {
	border-radius: 0 0 12px 12px;
}

.activedTop,
.activeBottom {
	background: var(--secondary-color);
}
