.dropdown {
	position: relative;
}

.btn {
	cursor: pointer;

	margin: 0;
	padding: 0;

	background: none;
	border: none;
	outline: none;
}

.item {
	cursor: pointer;

	width: 100%;
	padding: 10px 25px;

	color: var(--primary-color);

	background: none;
	border: none;
	outline: none;
}

.menu {
	position: absolute;
	z-index: var(--dropdown-z-index);

	display: flex;
	flex-direction: column;

	background: var(--card-bg);
	border: 1px solid var(--primary-color);
	border-radius: 0 0 8px 8px;

	&.topLeft,
	&.topRight {
		bottom: 100%;
		border-radius: 12px 12px 0 0;

		.item {
			border-radius: 12px 12px 0 0;
		}
	}

	&.topRight,
	&.bottomRight {
		left: 0;
	}

	&.topLeft,
	&.bottomLeft {
		right: 0;
	}

	&.bottomLeft,
	&.bottomRight {
		top: 100%;
		border-radius: 0 0 12px 12px;

		.item {
			border-radius: 0 0 12px 12px;
		}
	}
}

.active {
	background: var(--secondary-color);
}
