@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/orange";
@import "./variables/global";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: var(--font-m);
}

.app {
	min-height: 100vh;
	color: var(--primary-color);
	background: var(--bg-color);
}

.content-page {
	display: flex;
}

.page-wrapper {
	overflow-y: auto;
	flex-grow: 1;

	width: 100%;
	height: calc(100vh - var(--navbar-height));
	padding: 20px 20px 20px 45px;
}
