@import './reset.scss';
@import './themes/dark.scss';
@import './themes/light.scss';
@import './variables/global.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
