.mainLayout {
    display: grid;
    grid-template-areas: 'sidebar content rightbar';
    grid-template-columns: min-content 1fr min-content;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    max-width: 284px;
    padding: 32px;
}

.content {
    grid-area: content;
    justify-self: center;

    width: 100%;
    max-width: var(--content-width);
    min-height: 100%;
    padding-top: 32px;
}

.rightbar {
    display: flex;
    grid-area: rightbar;
    flex-direction: column;
    align-items: flex-end;

    max-width: 176px;
    padding-left: 32px;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
}

.toolbar {
    justify-self: end;
}
