.sidebar {
	position: relative;

	min-width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));

	color: var(--inverted-primary-color);

	background-color: var(--inverted-bg-color);

	transition: min-width 0.3s;
}

.switchers {
	position: absolute;
	bottom: 20px;

	display: flex;
	justify-content: center;

	width: 100%;
}

.lang {
	margin-left: 20px;
}

.collapseBtn {
	cursor: pointer;

	position: absolute;
	z-index: var(--collaps-btn-z-index);
	right: calc(var(--font-line-l) * -1);
	bottom: var(--font-line-l);
}

.items {
	margin-top: 20px;
	margin-left: 30px;
}

.collapsed {
	min-width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
	}

	.lang {
		margin-left: 0;
	}
}

.li {
	display: grid;
}
