@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/orange";
@import "./variables/global";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: var(--font-m);
	color: var(--primary-color);
	background: var(--bg-color);
}

.app,
.app_drawer {
	min-height: 100vh;
}

.content-page {
	display: flex;
}

*::-webkit-scrollbar {
	width: 12px;               /* ширина scrollbar */
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
	background-color: var(--inverted-primaty-color);    /* цвет плашки */
	border: 3px solid var(--primary-color);  /* padding вокруг плашки */
	border-radius: 20px;       /* закругления плашки */
}
