.item {
    cursor: pointer;

    width: 100%;
    padding: 10px 25px;
    border: none;

    color: var(--primary-color);

    background: none;
    outline: none;
}

.menu {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--primary-color);
    border-radius: 0 0 8px 8px;

    background: var(--card-bg);
}

.activedTop {
    border-radius: 12px 12px 0 0;
}

.activeBottom {
    border-radius: 0 0 12px 12px;
}

.activedTop,
.activeBottom {
    background: var(--secondary-color);
}
