.header {
    padding-top: 20px;
    padding-right: 20px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    padding-right: 20px;

    &.row {
        flex-flow: row nowrap;
        justify-content: start;
        padding: 16px 0;
    }
}

.tilesContainer {
    width: 100%;
    height: 100%;
}

.tile {
    cursor: pointer;
    display: block;
    transition: var(--transition);

    &:hover {
        transform: scale(1.05);
        opacity: 0.8;

        div div {
            display: flex;
        }

        img {
            transform: scale(1.1);
        }
    }
}
