.primary {
    background-color: var(--dark-bg-redesigned);
}

.outline {
    border: 1px solid var(--accent-redesigned);
}

.light {
    background-color: var(--light-bg-redesigned);
}

.padding_0 {
    padding: 0;
}

.padding_8 {
    padding: 8px;
}

.padding_16 {
    padding: 16px;
}

.padding_24 {
    padding: 24px;
}

.normal {
    border-radius: 19px;
}

.round {
    border-radius: 32px;
}

.none {
    border-radius: 0;
}
