.inputWrapper {
	display: flex;
}

.input {
	width: 100%;

	color: transparent;
	text-shadow: 0 0 0 var(--primary-color);

	background-color: transparent;
	border: none;

	&,
	&:focus {
		outline: none;
	}
}

.placeholder {
	margin-right: 5px;
}

.caretWrapper {
	position: relative;
	flex-grow: 1;
}

.caret {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 9px;
	height: 3px;

	background: var(--primary-color);

	animation: blink 1s forwards infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.01;
	}

	100% {
		opacity: 1;
	}
}
