.skeleton {
	position: relative;

	overflow: hidden;

	width: 100%;
	height: 50px;

	box-shadow: 0 2px 10px 0 var(--skeleton-shadow);

	&::before {
		content: "";

		position: absolute;
		top: 0;
		left: -100%;

		display: block;

		width: 80%;
		height: 100%;

		background: linear-gradient(to right, transparent 0%, var(--skeleton-color) 50%, transparent 100%);

		animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	}
}

@keyframes load {
	from {
		left: -100%;
	}

	to {
		left: 100%;
	}
}
