.code {
    position: relative;

    overflow: auto;

    padding: 20px;
    border: 1px solid var(--primary-color);

    background-color: var(--code-bg);
}

.copyBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}
