.modal {
	pointer-events: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	color: var(--primary-color);

	opacity: 0;

	transition: var(--modal-transition) opacity;
}

.overlay {
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	background-color: var(--overlay-color);
}

.content {
	transform: scale(0.5);

	max-width: 60%;
	padding: 20px;

	background-color: var(--bg-color);
	border-radius: 12px;

	transition: var(--modal-transition) transform;
}

.opened {
	pointer-events: auto;
	z-index: var(--modal-z-index);
	opacity: 1;

	.content {
		transform: scale(1);
	}
}
