.addonLeft svg,
.addonRight svg {
    color: var(--hint-redesigned);
}

.button {
    cursor: pointer;

    border: none;
    border-radius: 34px;

    color: var(--text-redesigned);

    background: none;

    transition: var(--transition) all;

    &,
    &.clearWP {
        padding: 0 16px;
    }

    .addonLeft svg,
    .addonRight svg {
        color: var(--hint-redesigned);
    }

    &:disabled {
        cursor: auto;
        opacity: 0.5;
    }

    &:hover.hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent-redesigned);
        }
    }

    &.filled {
        background: var(--light-bg-redesigned);

        &:hover.hover {
            background: var(--bg-redesigned);
        }
    }

    &.clear {
        padding: 0;
    }

    &.outline {
        border: 2px solid var(--light-bg-redesigned);

        &:hover.hover {
            border: 2px solid var(--icon-redesigned);
        }
    }
}

// square
.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

// size
.s {
    // font: var(--font-m-redesigned);
    height: 24px;
}

.m {
    // font: var(--font-l-redesigned);
    height: 32px;
}

.l {
    //  font: var(--font-xl-redesigned);
    height: 38px;
}

.fullWidth {
    width: 100%;
}

.withAddonRight {
    padding-right: 8px;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonLeft,
.withAddonRight {
    display: flex;
    align-items: center;
}

.addonLeft,
.addonRight {
    display: flex;
}
