.addonLeft svg,
.addonRight svg {
    color: var(--hint-redesigned);
}

.button {
    cursor: pointer;

    border: none;
    border-radius: 34px;

    color: var(--text-redesigned);

    background: none;

    transition: var(--transition) all;

    &,
    &.clearWP {
        padding: 2px 16px;
    }

    .addonLeft svg,
    .addonRight svg {
        color: var(--hint-redesigned);
    }

    &:disabled {
        cursor: auto;
        opacity: 0.5;
    }

    &:not(:disabled):hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent-redesigned);
        }
    }

    &.filled {
        background: var(--light-bg-redesigned);

        &:not(:disabled) &:hover {
            background: var(--bg-redesigned);
        }
    }

    &.clear {
        padding: 0;
    }

    &.outline {
        border: 2px solid var(--light-bg-redesigned);
    }
}

// square
.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

// size
.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.fullWidth {
    width: 100%;
}

.withAddonRight {
    padding-right: 8px;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonLeft,
.withAddonRight {
    display: flex;
    align-items: center;
}

.addonLeft,
.addonRight {
    display: flex;
}
